<template>
  <div class="container chat">
    <h2 class="center teal-text">Welcome to the Chat Room, {{ name }}</h2>

    <div class="card">
      <div class="card-content">
        <ul class="messages text-left">
          <li v-for="message in messages" :key="message.id">
            <span class="teal-text">{{ message.name }}</span>
            <span class="grey-text text-dark-3">{{ message.content }}</span>
            <span class="grey-text time">{{
              message.timestamp | humanize
            }}</span>
          </li>
        </ul>
      </div>
      <div class="card-action">
        <NewMessage :name="name" />
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import db from "@/firebase/init";
import NewMessage from "@/components/NewMessage.vue";

export default {
  name: "Chat",
  components: {
    NewMessage
  },
  props: {
    name: { type: String, required: true }
  },
  data() {
    return {
      messages: []
    };
  },
  mounted() {
    let ref = db.collection("messages").orderBy("timestamp");
    ref.onSnapshot({ includeMetadataChanges: false }, snapshot => {
      snapshot.docChanges().forEach(element => {
        if (element.type === "added") {
          const comment = element.doc;
          const commentData = comment.data();
          this.messages.push({
            id: comment.id,
            name: commentData.name,
            content: commentData.content,
            timestamp: moment(commentData.timestamp).format("lll")
          });
        }
      });
    });
  },
  filters: {
    humanize: timestamp => {
      return moment(timestamp).format("lll");
    }
  }
};
</script>

<style lang="scss" scoped>
.chat {
  h2 {
    font-size: 2.7em;
    margin-bottom: 40px;
  }
}

.messages {
  max-height: 300px;
  overflow: auto;
  text-align: left;
  li {
    span {
      font-size: 1.4em;

      &.time {
        display: block;
        font-size: 0.8em;
      }
    }
  }
}
</style>
