<template>
  <div class="newMessage">
    <form @submit.prevent="sendMessage">
      <label for="newMessage">New message (enter to add):</label>
      <input
        type="text"
        id="newMessage"
        v-model="message"
        placeholder="Your message"
      />
      <p v-if="feedback" class="red-text">{{ feedback }}</p>
    </form>
  </div>
</template>

<script>
import db from "@/firebase/init";
export default {
  name: "NewMessage",
  props: {
    name: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      message: null,
      feedback: null
    };
  },
  methods: {
    sendMessage() {
      if (!this.message || this.message === "") {
        this.feedback = "You must enter a message";
        return;
      }

      db.collection("messages")
        .add({
          content: this.message,
          name: this.name,
          timestamp: Date.now()
        })
        .then(() => {
          this.clearMessage();
        })
        .catch(err => {
          this.feedback = err;
        });
    },
    clearMessage() {
      this.message = "";
      this.feedback = null;
    }
  }
};
</script>

<style lang="scss" scoped>
.newMessage {
  text-align: left;
}
</style>
