<template>
  <div class="welcome container">
    <div class="card">
      <div class="card-content center-align">
        <h2 class="teal-text">Welcome</h2>

        <form @submit.prevent="enterChat">
          <label for="name">Enter you name</label>
          <input type="text" name="name" v-model="name" />
          <p v-if="feedback" class="red-text">{{ feedback }}</p>
          <button class="btn teal" type="submit" :disabled="!nameNotEmpty">
            Enter chat
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Welcome",
  props: {
    msg: String
  },
  data() {
    return {
      name: null,
      feedback: null
    };
  },
  computed: {
    nameNotEmpty() {
      return this.name && this.name !== "" ? true : false;
    }
  },
  methods: {
    enterChat() {
      if (!this.name || this.name === "") {
        this.feedback = "You must enter a name to join the chat room";
      }

      this.$router.push({ name: "chat", params: { name: this.name } });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.welcome {
  max-width: 600px;
  margin-top: 100px;

  h2 {
    font-size: 3em;
  }

  button {
    margin: 30px auto;
  }
}
</style>
